.container {
    width: 100%;
    height: 100%;

    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    .table-header_item {
        font-weight: bolder;
    }
}

th {
    border: 1px solid black;
    font-weight: 200;
}